<div class="footer">
    <div id="contact">
        <contact-form></contact-form>
    </div>
    <div class="icons">
        <a target="_blank" href="https://github.com/OleksandrRapiy"><i class="fa fa-github" aria-hidden="true"></i>
            GitHub</a>
        <a target="_blank" href=""><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
        <a target="_blank" href=""><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a target="_blank" href=""><i class="fa fa-linkedin" aria-hidden="true"></i> LinekedIn</a>
    </div>
</div>